:root {
    --canvas-color: rgb(242, 241, 237);
    --board-color: rgb(250, 249, 245);
    --line-color: rgb(48, 48, 46);
    --cell-line-width: 5px;
    --region-line-width: 15px;
}

.game-canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--canvas-color);
}

.control-space {
    width: 1080px;
    flex-shrink: 0;
}

.top-control-space {
    height: 288px;
}

.bottom-control-space {
    height: 672px;
}

.game-content {
    width: 1080px;
    height: 960px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sudoku-board {
    width: 960px;
    height: 960px;
    flex-direction: column;
    flex-shrink: 0;
    background-color: var(--board-color);
}

.board-row {
    width: 100%;
    height: 11.111111%;
    flex-direction: row;
    flex-shrink: 0;
}

.board-cell {
    width: 11.111111%;
    height: 100%;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-color: var(--board-color);
    border-right-width: var(--cell-line-width);
    border-bottom-width: var(--cell-line-width);
    border-right-color: var(--line-color);
    border-bottom-color: var(--line-color);
}

.board-cell.help-highlighted {
    background-color: #b2ebf4;
}

.board-cell.same-value-highlighted {
    background-color: #a8e6a3;
}

.board-cell.focused {
    background-color: #5cd1e5;
}

.cell-label {
    color: var(--line-color);
    font-size: 64px;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
}

.border-top-region {
    border-top-width: var(--region-line-width);
    border-top-color: var(--line-color);
}

.border-right-region {
    border-right-width: var(--region-line-width);
    border-right-color: var(--line-color);
}

.border-bottom-region {
    border-bottom-width: var(--region-line-width);
    border-bottom-color: var(--line-color);
}

.border-left-region {
    border-left-width: var(--region-line-width);
    border-left-color: var(--line-color);
}
